DISCORD_BOT_TOKEN=
DISCORD_FETCH_ARCHIVED_THREADS=false
DISCORD_API_DELAY_MS=1500
DISCORD_API_JITTER_MS=250
DISCORD_API_TIMEOUT_MS=15000
DISCORD_ACTIVE_THREADS_CACHE_MS=600000
DISCORD_API_MAX_RETRIES=3
DISCORD_INVALID_REQUEST_ABORT_AFTER=25
DISCORD_IMPORT_MAX_GUILDS=
